//buttons
.btn {
    height: 48px;
    min-width: 105px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    padding: 0 12px;
    transition: 300ms;
    white-space: nowrap;
    border-radius: $borderRadius;
    box-shadow: 1px 1px 3px rgba($color: $darkGrey, $alpha: 0.6);
}

.btn-primary {
    border: 2px solid $green;
    background: $green;
    color: $white;

    &:hover {
        border-color: darken($color: $green, $amount: 6%);
        background: darken($color: $green, $amount: 6%);
    }
}

.btn-standard {
    border: 2px solid $grey;
    background: $grey;

    &:hover {
        border-color: darken($color: $grey, $amount: 6%);
        background: darken($color: $grey, $amount: 6%);
    }
}

.disabled {
    pointer-events: none;
    opacity: .6;
    border-color: rgba($color: $grey, $alpha: 0.6);
    background: rgba($color: $grey, $alpha: 0.6)
}