//primary colors
$darkGrey: #333333;
$green: #54aa4b;
$grey: #cccccc;
$red : #ac0015;
$softWhite: #f5f5f5;
$white: #ffffff;

//spacing
$gutter: 12px;

//borders
$borderRadius: 3px;
$borderColor: $grey;