#home-page {
    margin-top: 90px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .content-wrapper {
        text-align: center;
    }

    h1 {
        font-size: 42px;
    }

    .btn {
        margin: $gutter*2 0 $gutter*4;
    }
}