#main-footer {
    border-top: 2px solid $borderColor;
    margin-top: auto;
    background: $white;
    
    .disclaimer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: $gutter;
        padding: $gutter;
    }

    .icon {
        width: 16px;
        fill: $green;
        vertical-align: text-bottom;
    }

    .copyright {
        font-size: 15px;
    }
}