#main-header {
    border-bottom: 2px solid $borderColor;
    height: 90px;
    display: flex;
    align-items: center;
    background: $white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    .icon {
        width: 32px;
        fill: $green;
    }

    h1 {
        white-space: nowrap;
    }

    @media screen and (max-width:768px) {
        h1 {
            font-size: 30px;
            text-align: center;
        }
    }
}