#site-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    position: relative;

    .content-wrapper {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 0 $gutter;
    }
}