#request-dialog {
    padding: $gutter*2;
    margin: 0 auto;

    form {
        display: flex;
        flex-direction: column;
    }

    input {
        margin: $gutter*2 0 $gutter/2;

        &:first-of-type {
            margin-top: 0;
        }
    }

    button {
        margin-top: $gutter*2;
    }

    .server-response {
        text-align: center;
    }

    .success-confirmation {
        padding: 0 $gutter*2;
        max-width: 420px;
        text-align: center;
    }
}