.dialog-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    // background: rgba(0, 0, 0, .6);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .backdrop {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1000;
        background: rgba(0, 0, 0, .6);
        height: 100vh;
        z-index: 1001;
    }

    .modal {
        min-width: 420px;
        max-width: 768px;
        background: $softWhite;
        min-height: 300px;
        border: 1px solid $borderColor;
        border-radius: $borderRadius;
        padding: $gutter*2 0;
        box-shadow: 1px 1px 3px rgba($color: $darkGrey, $alpha: 0.6);
        z-index: 1002;
        position: relative;
    }

    .modal-header {
        h3 {
            text-align: center;
            font-weight: 600;
            font-style: italic;
        }

        .close-modal {
            position: absolute;
            top: $gutter;
            right: $gutter;
            width: 30px;
            height: 30px;
            border-radius: 50px;
            background: none;
            border: 1px solid $borderColor;
            cursor: pointer;
        }

        hr {
            width: 90px;
            border: 1px solid $borderColor;
        }
    }

    .modal-body {
        overflow-y: auto;
    }

    @media screen and (max-width:768px) {
        .modal {
            min-width: auto;
            width: 98%;
            height: 98%;
        }
    }
}