@import './utilities/variables.scss';
@import './utilities/normalize.scss';
@import './utilities/button.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/layout.scss';
@import './components/request-dialog.scss';
@import './components/shared/dialog.scss';
@import './pages/home.scss';

img {
	display: block;
	width: 100%;
}

html,
body {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	height: 100%;
	width: 100%;
	background: $softWhite;
	font-size: 18px;
	color: $darkGrey;
}

* {
	box-sizing: border-box;
}

p {
	&+p {
		margin-top: 0;
	}
}
.overflow-hidden {
	overflow: hidden;
}

.icon {
	display: inline-block;
}

input {
	background: $white;
	border: 1px solid $borderColor;
	border-radius: $borderRadius;
	padding: 0 $gutter;
	height: 42px;
}

form {
	.error-msg {
		color: $red;
		font-size: 15px;

		i {
			margin-right: $gutter/2;
		}
	}

	.has-error {
		background: rgba(172, 0, 21, .1)
	}
}